* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
  cursor: pointer;
  border: none;
}



a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

ul,
ol {
  list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


header {
    display: flex;
    padding: 40px; 
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 1;
}

#logo {
    background: url(../visuales/logo.png) no-repeat center;
    text-indent: -1500px;
    overflow: hidden;
    width: 81px;
    height: 80px;
    position: absolute;
    left: calc(70vw - 100px);
    z-index: 1;
}


#seemore {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
}


nav ul {
    display: flex;
    flex-direction: column;
}



nav ul li a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px;
    width: 100%;
}


#aboutme {
    position: relative;
    overflow: visible;
}

.aboutme_bg {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: calc(100% + 138px);
    z-index: 1;
}

#aboutme > *:not(.aboutme_bg) {
    position: relative;
    z-index: 1;
}


#projects {
    position: relative;
    z-index: 1;
}

.projects_bg {
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    height: calc(100% + 320px);
    z-index: 0;
}

#projects > *:not(.projects_bg) {
    position: relative;
    z-index: 1;
}


.contact_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




/*-------------------------MENU------------------*/
 @media screen and (max-width: 767px) {

#burger li {
    background: url(../visuales/menu.png) no-repeat center;
    width: 44px;
    height: 44px;
  }

#burger li a{
    text-indent: -1000px;
    overflow: hidden;
    display: block;
  }


#burger li:last-child {
    display: none;
 }


 #barra {
    width: 0;
    overflow: hidden;
    background: #ffffff;
    transition: all 0.4s ease-in-out;
 }
 
#seemore:target #barra {
    display: flex;
    width: 100%;
    background: #ffffff;
}

#seemore:target #burger li:first-child {
    display: none;
}

#seemore:target #burger li:last-child {
    display: block;
    background: url(../Visuales/salir.png) no-repeat center;
}
}
/*-------------------------MENU------------------*/



#barra {
    font-size: clamp(16px, 2vw, 20px);
}   

#burger {
    padding: 30px;
}

img {
    max-width: 100%;
}


.hero {
    display: flex;
    justify-content: center;
    gap: var(--spacing-40);
    width: 100%;
    padding: 35px;
    background-color: var(--acentua-5);
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    position: relative;
}

.circles {
    position: absolute;
    bottom: -40px;
    right: 50px;
    width: 100px;
    z-index: 2;
}

#circles2 {
    position: absolute;
    bottom: -50px;
    right: 20px;
    width: 100px;
    z-index: 2;
}

#circles3 {
    position: absolute;
    bottom: -120px;
    right: 20px;
    width: 100px;
    z-index: 2;
}


.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    padding-bottom: 0px;
}


.hero_title {
    font-size: clamp(28px, 5vw, 50px);
    font-weight: 600;
    line-height: 120%;
}

.hero_title strong {
    color: var(--acentua-2);
}

section p {
    font-size: clamp(1rem, 2vw, 20px);
    line-height: 1.5;
}


.button_cta {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


.button_primary,
.button_secondary {
    display: block;
    width: 100%;
    font-size: clamp(1rem, 2vw, 20px);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button_primary {
    color: #ffffff;
    background-color: var(--acentua-4);  
}

.button_secondary {
    color: var(--acentua-4);
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.1);
}

.label_title {
    font-size: clamp(1rem, 2vw, 20px);
    font-weight: 400;
    padding: 0;
    margin-bottom: -15px;
    color: var(--acentua-2);
}


h2 {
    font-size: clamp(26px, 2.5vw, 34px);
    font-weight: 600;
}

h3 {
    font-size: clamp(20px, 2.2vw, 24px);
    font-weight: 600;
}

h4 {
    font-size: clamp(18px, 2vw, 25px);
    font-weight: 600;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-30);
    width: 100%;
    padding: 35px;
}


.section_content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.cards_style {
    padding: var(--spacing-20) var(--spacing-40);
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.1);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cards_style#cards_education {
    padding: var(--spacing-30) var(--spacing-30);
    text-align: left;
    gap: 20px;
}

.cards_style#cards_experience {
    padding: var(--spacing-30) var(--spacing-30);
    text-align: left;
    gap: 20px;
}


#cards_projects {
    gap: 40px;
}

.timeline-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.timeline-item {
    border-left: 2px solid #a1a1a1;
    padding-left: 20px;
}

.timeline-item p, 
.timeline-item time,
.items p {
    color: #a1a1a1;
}

.timeline-item h4 {
    margin: 4px 0;
}




ul.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin: 10px 0;
    justify-content: space-around;
    width: 100%;
}

.icon_skill {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 15px;
    
    text-align: center;  
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.cards_title {
    font-size: clamp(18px, 2vw, 25px);
    font-weight: 600;
    color: var(--acentua-2);
    text-align: center;
    flex-direction: row;
    align-items: center; 
    width: 100%;
}



.info-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;             
}


.items2 {
  display: flex;
  gap: 12px;   
  flex-direction: column;         
}

.items2 p {
color: #ffffff;         
}

.info-item {
  display: flex;
  align-items: center;   
  gap: 10px;           
}


.project_card figure picture img {
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.project_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon {
  color: #677BDC;     
  display: flex;
  align-items: center;
}


.social_media {
    display: flex;
    gap: var(--spacing-20);
    margin-top: var(--spacing-12);
}

.social {
    width: 60px;
    height: 60px;
    background-color: var(--acentua-4);
    border-radius: 8px;
    padding: 5px;
}


#experience {
    background-color: #39396B;
    position: relative;
    padding-top: 60px;
}


#experience .cards {
    position: relative;
    z-index: 2;
}

#experience .label_title, #otherprojects .label_title {
    color: #9E9E9E;
}

#experience h2, #otherprojects h2 {
    color: #ffffff;
}


#otherprojects {
    background-color: #39396B;
    padding-top: 80px;
}


.carousel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.carousel_track {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding-bottom: 10px;
    scrollbar-width: none; /* oculta scrollbar en Firefox */
     -webkit-overflow-scrolling: touch; /* scroll suave en iOS */
}

.carousel_slide {
    scroll-snap-align: center;
    flex: 0 0 90%; 
    min-width: 0;
}

.carousel_card {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.carousel_card figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

.carousel_card figure picture,
.carousel_card figure picture img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_card_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 60px 20px 20px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, transparent 96%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 6px;
}



.card_toggle {
    display: none;
}


.card_description {
    display: none;
    color: #ffffff;
}


.card_toggle:checked ~ .card_description {
    display: block;
}

.card_toggle:checked ~ .card_seemore {
    display: none;
}

.card_seemore, .card_seeless {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}


.card_seeless {
    display: none;
}

.card_toggle:checked ~ .card_seemore {
    display: none;
}

.card_toggle:checked ~ .card_seeless {
    display: inline-block;
}

.carousel_dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    list-style: none;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #a1a1a1;
}

.dot.active {
    background-color: var(--acentua-2);
    width: 20px;
    border-radius: 100px;
}

footer {
    color: #9E9E9E;
    text-align: center;
    padding: 20px;
    font-size: clamp(14px, 1.8vw, 20px);
}









/*-------------------------TABLET------------------*/



@media screen and (min-width: 768px) {
    #logo {
        position: static;
    }

    #burger {
        display: none;
    }

    nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    nav ul li a {
    padding: 0px; 
    margin-top: 30px;
    }

    header {
        align-items: center;
        height: auto;
        padding: var(--spacing-30);
    }

    #barra {
        gap: 30px;
    }

    
    #seemore {
        position: static;
        width: auto;
    }

    .hero, .section{
        padding: 60px;
    }

    .circles {
    position: absolute;
    bottom: -10px;
    right: 50px;
    width: 100px;
    z-index: 2;
}

.card_description {
        display: block;
    }

    .card_seemore, .card_seeless {
        display: none;
    }

    .carousel_card_content {
    padding: 60px 40px 40px 40px;
}

#circles3 {
    position: absolute;
    bottom: -150px;
    right: 20px;
    width: 100px;
    z-index: 2;
}


    
}

/*-------------------------PC----------------*/

@media screen and (min-width: 1024px) {

    .section {
        padding: 80px;
    }


    header {
     flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    
    nav ul li {
        text-align: center;
        gap: var(--spacing-20);
    }

    #barra {
        padding-top: 0px;
    }


    nav ul li a:hover{
       color: #677BDC;
    }

    nav ul li a {
       margin-top: 0px;
    }

   .hero {
   flex-direction: row-reverse;
   text-align: left;
    }

   .section#aboutme{
   flex-direction: row;
   align-items: center;
   gap: 120px;
    }

    .button_cta {
    flex-direction: row;
}

.aboutme_bg {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
}

    ul.skills {
    justify-content: left;
    }

    #otherprojects {
    padding-top: 130px;
}

  #experience {
    padding-top: 100px;
}

  #projects {
    padding-top: 5px;
}

#circles3 {
    position: absolute;
    bottom: -190px;
    right: 20px;
    width: 100px;
    z-index: 2;
}


.cards#cards_experience_education{
flex-direction: row;
align-items: flex-start;
}

.cards_style#cards_education, .cards_style#cards_experience {
padding: 40px;
}

#cards_projects {
        flex-direction: row;
        align-items: stretch;
}

.project_card {
flex: 1;
min-width: 0;
}

.carousel_slide {
flex: 0 0 calc(50% - 10px);
}

.dot:last-child {
    display: none;
}


#contact {
    flex-direction: row;
    align-items: center;
}

.button_primary:hover {
background-color: var(--acentua-2);
transition: background-color 0.3s ease;
}

.button_secondary:hover {
background-color: var(--acentua-5);
transition: background-color 0.3s ease;
}

}