:root {
  --texto: #1F1E24;
  --texto-2: #FFFFFF;
  --acentua: #9B6BEE;
  --acentua-2: #677BDC;
  --acentua-3: #F8F9FB;
  --acentua-4: #39396B;
  --acentua-5: #d9d9d9;
  --acentua-5: #F8F9FB;


  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-30: 30px;
  --spacing-40: 40px;

--outline-width: 2px;



}